:root {
    --color-principal: #333;
    --color-secundario: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-principal);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 100px;
}

header .logo h1 {
    font-size: 28px; 
    margin-left: 20px;
}

header .logo h2 {
    font-size: 18px; 
    margin-left: 20px; 
    margin-bottom: 0;
}

header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--color-principal);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

footer p{
    font-size: 1rem;
}

footer .social a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social a:hover {
    text-decoration: underline;
}

/* body */
body {
    background-image: url('./images/fondoVitraux.jpg');
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative; /* Asegúrate de que el body tenga position relative */
    
}

body::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Cambia la opacidad aquí */
    z-index: 1;
    pointer-events: none;
}

/* Generales */
h2 {
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 1.7rem;
}

.seccion {
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--color-secundario);
    margin-bottom: 200px;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

/* Carousel Section */
#inicio {
    position: relative;
    text-align: center;
    margin-top: 150px; /* Espacio para el header fijo */
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#inicio button {
    color: white;
    cursor: pointer;
}

#inicio button:hover {
    background-color: rgba(224, 224, 224, 0.4);
}
.carousel .carousel-caption {
    left: 0px;
    width: 100%;
    text-shadow: black 1px -2px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.carousel-text {
    margin-top: 30px; 
    text-align: justify;
}

/* El Vitraux Section */
#el-vitraux .row {
    margin-bottom: 50px; 
    align-items: center;
}

#el-vitraux img {
    width: 100%; 
    max-width: 540px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

#el-vitraux p {
    margin: 10px 0;  
}

#el-vitraux .textoIzq {
    text-align: right;
}

/* galeria section */
#galeria img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

#galeria img:hover {
    transform: scale(1.05);
}

#galeria p {
    text-align: center; 
    margin-top: 10px;
}

/* usos section */
#usos {
    text-align: center;
}

#usos p {
    text-align: justify;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.fotosUsos {
    overflow: hidden;
    padding: 50px 0;
    white-space: nowrap;
    position: relative;
}

.usos-slide {
    display: inline-block;
    animation: slideAnimation 40s infinite linear; /* Aumenta el tiempo de la animación */
}

.usos-slide img {
    height: 300px;
    width: auto;
}

@keyframes slideAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.fotosUsos:hover .usos-slide {
    animation-play-state: paused; /* Pausa la animación al pasar el mouse */
}

/* Servicios Section */
#services {
    text-align: center;
}

.service-card {
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    transition: transform 0.3s; /* Efecto de hover */
}

.service-card:hover {
    transform: scale(1.05); /* Aumentar ligeramente en hover */
}

.service-card img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantener proporciones */
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.service-card h3 {
    font-size: 1.5rem; /* Tamaño del subtítulo */
    margin: 15px 0; /* Espacio arriba y abajo del subtítulo */
}

.service-card p {
    font-size: 1rem; /* Tamaño del texto */
    color: #555; /* Color del texto */
}

#trabajos ul {
    list-style-type: none;
    padding: 0;
}

#trabajos li {
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contacto button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #45a049;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 150px;
    height: 150px;
    border-radius: 18px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}


/* Sección activa en el header */
nav ul li a.active {
    font-weight: bold;
}
